.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: black;
  color: white;
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar li {
  cursor: pointer;
}

.navbar li:hover {
  color: orange;
}